/* 
	=================================
	General Styling
	=================================
*/
/* Resets on top of Normalize.css */

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

/* Shared */

.fluid-wrap {
	max-width: 1200px;
	padding-left: 22px;
	padding-right: 22px;
	margin: 0 auto;
}

*:hover {
	transition: all 0.3s ease;
}



/* 
	=================================
	Top (User Auth Bar + Header)
	=================================
*/

/* User Authentication Bar (large) */
.auth-bar > h5 {
	font-family: Georgia, serif;
	font-size: 14px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
}

.auth-bar > h5 > a {
	color: #f00;
	font-weight: bold;
	font-style: italic;
	margin-left: 5px;
}

.auth-menu-large {
	margin-top: -20px;
	margin-bottom: -1px;
	float: right;
}

.auth-menu-large > li {
	float: left;
}

.auth-menu-large button {
	font-style: italic;
	border-radius: 0;
	padding: 3.5px 12px;
}

.btn-register {
	background: #000;
	color: #fff;
}

.btn-register:hover {
	background: #000;
	color: #fff;
}

.btn-signin {
	background: transparent;
}

/* Site Header */
.site-header {
	border-top: 4px solid #f00;
	border-bottom: 1px solid #f00;
}

/* Meta Links - Large */
.meta-links-large {
	float: right;
	margin-bottom: -10px;
}

.meta-links-large > li {
	display: inline-block;
	margin-left: 5px;
	padding-left: 22.5px;
}

.meta-links-large > li > a {
	font-size: 12px;
	color: #f00;
}

.meta-links-large > li:last-child > a {
	color: #fff;
}

.meta-links-large > li:last-child button {
	background-color: #f00;
}

/* Meta Links - Small */
.meta-links-small {
	float: right;
	margin-top: 17.5px;
}

.meta-links-small > li {
	float: left;
	padding-left: 15px;
}


/* Site Logo */
.site-logo {
	float: left;
	max-width: 400px;
}

.site-logo > img {
	float: left;
	display: inline-block;
	vertical-align: middle;
}

/* Header Nav Links */
.header-nav {
	float: right;
}

.header-nav > li {
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 45px;
	padding-left: 2.25px;
	padding-right: 2.25px;
}

.header-nav > li > a {
	color: #f00;	
}

.header-nav > li:last-child > a {
	color: #777;
}

.header-nav > li > a:hover {
	text-decoration: none;
	color: #000;
}

.header-nav > li:last-child:hover {
	background-color: yellow;
}

/* User Authentication Bar (small) */
.auth-menu-small {
	text-align: center;
	padding: 5px 37.5px;
	max-width: 1200px;
	margin: 0 auto;

}

.auth-menu-small > .col-xs-5 {
	border-bottom: 1px solid #777;
}

.auth-menu-small > .col-xs-5:hover {
	background: #777;
} 

.auth-menu-small a {
	display: block;
	color: #777;
}

.auth-menu-small a:hover {
	color: #fff;
}

/* 
	=================================
	Main Shell
	=================================
*/

.main-shell {
	margin-top: 35px;
}

/* 
	=================================
	R1C1 - Headlines, Featured Articles
	=================================
*/

/* Image of Featured Article 1 */
#primary-article-img {
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #ff0000;
}

#primary-article-category {
	display: block;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

#primary-article-category > a {
	display: inline-block;
	background-color: #ff0000;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 15%;
}

/* 
	=================================
	R1C1, R2C1 - News Feed
	=================================
*/

/* Shared */
.feed-header {
	/* For News Feed and Big Shot sections */
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #ff0000;
}

/* News Feed */
.news-feed {
	border-right: 1px solid #c8c8c8;
}

.news-header {
	margin-top: 25px;
	font-size: 20px;
}

.news-feed-list > li {
	border-bottom: 2px dotted #c8c8c8;
	padding: 10px 0;
}

.category{
	display: inline;
	text-transform: capitalize;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

.feed-article-title {
	display: inline;
	font-size: 16px;
	line-height: 19px;
}

.category > a {
	color: #000;
}

.feed-article-title > a {
	color: #333;
}

.category > a:hover,
.feed-article-title > a:hover {
	color: #ff0000;
}

/* 
	=================================
	R1C1, R2C2 - Featured Articles
	=================================
*/

.featured-articles-list {

}

.featured-articles-list > li {
	float: left;
	border-bottom: 1px solid #c8c8c8;
	padding: 25px 0;
}

/* Primary Featured Article */

#primary-article-header {
	text-align: left;
	font-size: 38px;
	line-height: 38px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 5px;
}

#primary-article-header > a {
	color: #000;
}

#primary-article-header:hover {
	text-decoration: underline;
}

#primary-article-desc {
	font-size: 17px;
	line-height: 17px;
	color: #5a5a5a;
}

#primary-article-related:before {
	content: "■ ";
	color: #ff0000;
}

#primary-article-related > a {
	font-size: 14px;
	font-weight: 700;
	color: #000;
}

#primary-article-related > a:hover {
	text-decoration: underline;
}

/* Other Featured Articles */
.featured-article-img {
	float: left;
	width: 47%;
	height: 100%;
	margin-right: 2%
}


.featured-detail-container {
	width: 47%;
	height: 100%;
	float: right;
}


.category-header {
	color: #ff0000;
	font-size: 13px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
}

.primary-category {
	font-size: 20px;
}

.featured-article-header {
	color: #000;
	font-size: 23px;
	font-weight: bold;
	line-height: 24px;
	text-align: left;
	text-transform: capitalize;
}

.featured-article-header:hover {
	text-decoration: underline;
}

.featured-article-desc {
	margin: 7.5px 0;
	font-size: 17px;
	line-height: 17px;
	color: #5a5a5a;	
	text-align: left;
}

.related-text {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #20c3f3;
}

.related-article-title {
	color: #000;
	text-transform: capitalize;
	font-size: 13px;
	line-height: 13px;
}

.related-article-title:hover {
	text-decoration: underline;
}

/* 
	=================================
	R1C2 - Sidebar (ads, etc.)
	=================================
*/

/* Shared */
.sidebar-content {
	width: 300px;
	margin-bottom: 30px;
}

.onsite-box {
	background: url("http://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/201410/deco-stripes.png");
	padding: 19px;
}

.onsite-box-header {
	padding: 3px 9px 0 9px;
	text-transform: uppercase;
	font-size: 13.5px;
	font-weight: 700;
	line-height: 20px;
}

.action-list {
	padding: 22px;
}

/* Follow Links */
.follow-header {
	width: 65%;
	background-color: #20c3f3;
	color: #fff;
}

.social-links {
	margin: 10px 0;
}

.social-links ul {
	padding-top: 5px;
}


.social-links li {
	display: inline-block;
	height: 30px;
	width: 30px;
	border: 1px solid white;
	background-color: #e2e2e2;
	border-radius: 50%;
	margin-left: 3px;
	font-size: 10px;
	font-weight: 700;
	text-align: center;
	padding-top: 6.5px;
}

.social-links li:hover {
	background-color: #20c3f3;
	cursor: pointer;
}

.social-links a {
	display: block;
	width: 100%;
	height: 100%;
	color:#777;
}

.social-links a:hover {
	color: #fff;
}

.follow-email {
	height: 37.5px;
	width: 100%;
	background-color: #fff;
	padding-top: 5px;
}

.follow-email > input {
	border: none;
	border-bottom: 1px solid #c8c8c8;
	font-size: 12px;
	color: #7d7d7d;
	margin: 0 10px;
}

.follow-email > button {
	border-radius: 0;
	background-color: #20c3f3;
	width: 74px;
	height: 20px;
	padding: 0;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}

.follow-email > button:hover {
	background-color: #000;
	color: #fff;
}

/* Sponsor Ads */
.sponsor-ad {
	border: 6px solid #c8c8c8;
	padding: 20px;
}

.sponsor-ad a {
	color: #000;
}

.sponsor-ad a:hover {
	text-decoration: underline;
}

.ad-category {
	font-size: 12px;
	font-weight: 900;
	color: #5a5a5a;
	text-transform: uppercase;
}

.sponsored-text {
	font-size: 10px;
	font-weight: 700;
	color: #8f8f8f;
}

.ad-img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 12.5px 0;
}

.ad-title {
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 7.5px;
}

.ad-desc {
	font-size: 16px;
	color: #5a5a5a;
}

/* Subscribe Box */
.subscribe-header {
	width: 40%;
	background-color: #ffff00;
	color: #000;
	text-transform: uppercase;
	font-size: 13.5px;
	font-weight: 700;
	line-height: 20px;
	padding: 3px 9px 0 9px;
}

.whitespace {
	width: 100%;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 11px;

}

.subscribe-details {
	display: block;
	background-color: #ffff00;
	width: 90%;
	margin: 0 auto;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
	padding: 10px;
}

.subscribe-details h3, h4 {
	text-align: center;
	text-transform: uppercase;
}

.subscribe-details h3 {
	color: #5d5d5d;
}

.subscribe-details h4 {
	font-weight: 700;
	color: #4d4d4d;
}

/* Action Box (Most Shared, Most Read) */
.action-header {
	background-color: #20c3f3;
	width: 50%;
	color: #fff;
}

.action-list {
	margin-top: 10px;
	background: #fff;
}

.action-list > li {
	border-bottom: 1px solid #c8c8c8;
	margin-bottom: 10px;
}

.action-list > li > h3 {
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 10px;
}

.action-list > li > h4 {
	font-size: 15px;
	line-height: 20px;
	color: #7d7d7d;
	text-transform: uppercase;
	text-align: left;
}

.action-list > li > h3 > a {
	color: #505050;
}

.action-list > li > h3 > a:hover {
	color: #4099ff;
}

/* 
	=================================
	Media Queries
	=================================
*/

@media (min-width: 992px) {
	.fluid-wrap {
		padding: 0 15px;
	}
	
}

@media (max-width: 1090px) {
	.site-logo > img {
		max-width: 230px;
		min-width: 215px;
		margin-top: 25px;
	}
}

@media (max-width: 991px) {
	.site-header {
		border-top: none;
	}

	.site-logo > img {
		vertical-align: middle;
		margin: 14px 0;
	}

}

@media (max-width: 769px) {
	.primary-category {
		color: #ff0000;
		font-size: 13px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
	}

#primary-article-header {
	color: #000;
	font-size: 23px;
	font-weight: bold;
	line-height: 24px;
	text-align: left;
	text-transform: capitalize;
}

 .featured-article-img {
 		display: block;
 		float: left;
		width: 100%;
	}

	.featured-detail-container {
		float: none;
		display: block;
		width: 100%;
	}
	
	.related-text {
		display: none;
	}
}